@{
    ViewData["Title"] = "Import";
}

<h1>Import Directory Structure</h1>

<form asp-action="Import" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="jsonFile">JSON file with directory structure</label>
        <input type="file" class="form-control-file" id="jsonFile" name="jsonFile">
    </div>
    <p>Or</p>
    <div class="form group">
        <label for="directoryPath">Directory path from the file system</label>
        <input type="text" class="form-control" id="directoryPath" name="directoryPath">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Import</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>