@model FolderTree.Models.DirectoryViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Import" class="btn btn-primary">Import</a>
    <a asp-action="Export" class="btn btn-secondary">Export</a>
</p>


@if (Model.RootDirectories != null)
{
    <ul>
        @foreach (var directory in Model.RootDirectories)
        {
            <partial name="_RenderDirectoryHierarchy" model="directory" />
        }
    </ul>
}

<p>
    <form asp-action="DeleteAll" method="post" style="display:inline;">
           <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all directories?');">Delete All Directories</button>
       </form>
</p>